@value bugHeight: 8px;
@value endPointTransform: -7px;
.chart{
	background: lightGray;
	position: relative;
}

.bug{
	cursor: pointer;
}

.bug:hover .bugEndPoint{
	box-shadow: 2px 2px 2px black;
}

.bugEndPoint{
	height: bugHeight;
	width: bugHeight;
	transform: translate(endPointTransform, 0);
	stroke: black;
}

.bugLine{
	stroke-width: 0;
	fill: rgba(0,0,0,0.6);
	height: bugHeight;
}

.tooltip{
	position: absolute;
	background-color: lightGray;
	border: 1px solid black;
	border-radius: 2px;
	padding: 10px;
	pointer-events: none;
	white-space: nowrap;
}

/* Bug Statuses */
.fixed{
	fill: green;
}

.unresolved{
	stroke: gray;
	fill: lightGray;
}

.notabug{
	fill: red;
}

.duplicate{
	fill: darkRed;
}

.wontfix{
	fill: darkGray;
}