.chart{
	background: lightGray;
}

.fixed{
	fill: green;
}

.open{
	fill: lightGray;
	stroke-width: 1px;
	stroke: black;
}

.unresolved{
	fill: lightGray;
	stroke-width: 1px;
	stroke: black;
}

.notabug{
	fill: red;
}

.duplicate{
	fill: darkRed;
}

.wontfix{
	fill: darkGray;
}